<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>JTS Mac Companion</string>
	<key>CFBundleExecutable</key>
	<string>JTSMacCompanion</string>
	<key>CFBundleIdentifier</key>
	<string>com.jtstools.mac-companion</string>
	<key>CFBundleName</key>
	<string>JTS Mac Companion</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.3.0</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>连接你授权的 JTS Terminal 电脑并共享这台 Mac 的桌面。</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>把这台 Mac 的桌面显示给你授权的电脑。</string>
</dict>
</plist>
